﻿/*	▼かすたむめにゅーここから*/
#mkt_menu_parent{
	width:320px;
	height:37px;
	margin:0px auto 0px;
	/*固定モードOFFでの、サブメニューの制御に必要*/
    position: relative;
	font-family:arial;
	/*自動追従オフの場合、サブメニューが隠れてしまうのを防ぐ*/
	z-index:30000;
}



#mkt_menu_base_fixed{
	width:320px;
	height:37px;
	margin:0px auto 0px;
/*	position:fixed;	これはオプションで付与される*/
	z-index:9999999;
}

.mkt_menuicon_single_block{
	display:table-cell;
	width:35px;
	height:37px;
	background-size:35px;
	background-repeat:no-repeat;
	position: static;
	background-color:black;
}


.mkt_menuicon_single_link{
	width:35px;
	height:22px;
	cursor:default;
}


.mkt_menuicon_direct_link{
	display:block;
	position:absolute;
	top:22px;
	width:35px;
	height:15px;
	background-color:#333;
	color:#ffffff;
	text-align: center;
	line-height: 1.2em;
	vertical-align: bottom;
	text-decoration:none;
	cursor:default;
}
.mkt_menuicon_direct_link[name='type_menu']{
	display:block;
	position:absolute;
	top:22px;
	width:35px;
	height:15px;
	background-color:#333;
	color:#ffffff;
	text-align: center;
	line-height: 1.2em;
	vertical-align: bottom;
	text-decoration:none;
	cursor:default;
	/*ボーダーつける*/
	border-bottom:2px dotted #a55;
	box-sizing:border-box;
}


.mkt_menuicon_direct_link:hover{
	background-color:#57a;
}

/*	▲ここまで*/
/*	▼かすたむめにゅーのさぶめにゅーここから*/

#mkt_menu_subsection{
	z-index:100000;	/*運営アナウンス:99999*/
	font-size:11px;
}

.mkt_menu_subcol{
	position:absolute;
}

.mkt_submenu_single_item{
	display:table-cell;
	background-color:#404040;
	color:#ffffff;
	max-width:35px;
	width:35px;
	height:25px;

	text-align: center;
	vertical-align: middle;
	cursor:default;
	text-decoration:none;

}
.mkt_submenu_single_item:hover{
	background-color:#57a;
}

