/* ばー */
::-webkit-scrollbar {
    width: 7px;
	height: 7px;
}

::-webkit-scrollbar-track {
	background-color:rgba(0,0,0,0.7);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
	width:7px;
	height:7px;
	background:#9090a0;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#404040
}


/*	マイページの情報エリア	*/
#mkt_gb_mypagestatus {
	font-family:"Average Sans", sans-serif;
	text-decoration:none;
	text-align:center;
	font-size:9px;
	color:#333333;
	margin:0 20px;
	height:auto;
	padding:5px 10px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,230,250,0.8))
							, color-stop(40%,rgba(100,190,210,0.8))
							, color-stop(60%,rgba(100,190,210,0.8))
							 , color-stop(100%,rgba(180,230,250,0.8))	);
	border:1px solid #556677;border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
}

/*	APの回復予想時刻	*/
#mkt_info_AP{
	font-family:"Average Sans", sans-serif;
}
#mkt_info_AP_rest{
	font-family:"Average Sans", sans-serif;
	color:#ffaa55;
}

/*	BPの回復予想時刻	*/
#mkt_info_BP{
	font-family:"Average Sans", sans-serif;
}
#mkt_info_BP_rest{
	font-family:"Average Sans", sans-serif;
	color:#ffaa00;
}
/*  */
#mkt_gb_mypagestatus{
	letter-spacing: 0.06em;
	font-family:"Average Sans", sans-serif;
}

/*	ラッキーガチャの時刻	*/
#mkt_info_LG{
	color:#ffffff;
	text-shadow: 0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 1px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f,0px 0px 2px #150f0f;
}

#mkt_info_LG_rest{
	color:#ffbb99;
	text-shadow: 0px 0px 1px #000000,0px 0px 2px #000000,0px 0px 1px #000000,0px 0px 1px #000000,0px 0px 1px #000000,0px 0px 1px #000000

}
/* ここまで */



#mkt_itemResizeBtn{
	width:50%;
	height:20px;
	margin:0px auto;
	text-align: center;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,230,250,0.8))
							, color-stop(40%,rgba(100,190,210,0.8))
							, color-stop(60%,rgba(100,190,210,0.8))
							 , color-stop(100%,rgba(180,230,250,0.8))	);
	border:1px solid #556677;border-radius: 5px;-webkit-border-radius:5px;-moz-border-radius:5px;
}

/*アイテムや石ページコンテンツ自体のpaddingを減らす*/
.contents > .cnt-list{
	padding-top:40px;
}

/* アイテムや石等のページ汎用セレクタ(singles.js) 
.mkt_page_selector{
	width:20px;
	margin:0px 5px;
	padding:0px 5px;
	background-color:#aaddff;
	border:1px solid black;
}*/

/* キャラや武器、石等の良く見るリスト画面@上の余計な空白をカット */
div.prt-list-contents{
	margin-top:0px;
}
.prt-listup.prt-frame{
/*	padding-top:10px;	/*next-prev用に少し残す*/
}
div[class^="ico-current-sort"]{
	/*この2つはリストページ系の切り替えボタン*/
/*	display:none;	*/
	zoom:0.8;
	top:-12px;
	position:absolute;
}

/*
div.btn-sort-weapon{
	positon:absolute;
	top:-6px;
}*/
div.prt-listup.prt-frame > div.prt-list-info{
	padding-top:5px;
}

/*共闘とかで使うIDコピーボタンデザイン*/
.mkt_idcopy_btn{
	cursor:default;
	padding:2px;
	-webkit-border-radius:5px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 240, 250, 1)), color-stop(0.3, rgba(100, 190, 250, 1)), color-stop(0.7, rgba(100, 180, 220, 1)), to(rgba(200, 240, 250, 1)));
	border:1px solid #50aacc;
}


/* ▼編成箇所 */
div.prt-deck-select > ol.flex-control-nav > li > a.flex-active{
	background-color:rgba(255,255,255,0.5);
	border:solid 2px #f22;
}
li > a.flex-active > [name='mkt_attributeicon']{
	border:2px solid #5dd1f8;
	background-color:#5dd1f8;
}

/* カスタムメニュー配置時、イベントのlogモードが一番上に来てしまう現象を回避 */
div.cnt-quest-scene.log > div.prt-quest-header.scene{
/*	position:relative;	/* relativeからfixedに変更 */
	top:38px;
}

/*イベントトップレイアウト*/
#mkt_event_fv_hide_btn{
	position:absolute;
	top:48px;
	left:5px;
	z-index:2;
}

/*PT画面の各種武器画像に対する、スキルレベル表示*/
.mkt_pt_weapon_skilllevelnum{
	position:absolute;
	top:11px;
	left:4px;
	font-size:13px;
	font-weight:bold;
	color:#663333;
	text-shadow: 0px 0px 1px #ffffff , 0px 0px 2px #ffffff;
}
.mkt_pt_weapon_levelnum{
	position:absolute;
	top:0px;
	font-size:10px;
	font-weight:bold;
	padding:1px;
	color:#333388;
	background-color:rgba(255,255,255,0.8);
}


/* 直近のクエスト石選択画面へのリンクか、編成セットで利用される */
.mkt_bluebtn{

	font-family:"Average Sans", sans-serif;
	font-size:9px;
	color:#000000;
	padding:5px 10px;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,230,250,0.8))
							, color-stop(40%,rgba(100,190,210,0.8))
							, color-stop(60%,rgba(100,190,210,0.8))
							 , color-stop(100%,rgba(180,230,250,0.8))	);
	border:1px solid #556677;border-radius: 5px;-webkit-border-radius:10px;
}

/* バトル履歴のページ送りボタン */
li.mkt_battlehistory_memo{
	height:20px;
	-webkit-border-radius:3px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 240, 250, 1)), color-stop(0.3, rgba(100, 190, 250, 1)), color-stop(0.7, rgba(100, 180, 220, 1)), to(rgba(200, 240, 250, 1)));
	border:1px solid #50aacc;
}
ul>li.mkt_battlehistory_prev{
	height:20px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 240, 250, 1)), color-stop(0.3, rgba(100, 190, 250, 1)), color-stop(0.7, rgba(100, 180, 220, 1)), to(rgba(200, 240, 250, 1)));
	border:1px solid #50aacc;
	}
.mkt_battlehistory_next{
	height:20px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200, 240, 250, 1)), color-stop(0.3, rgba(100, 190, 250, 1)), color-stop(0.7, rgba(100, 180, 220, 1)), to(rgba(200, 240, 250, 1)));
	border:1px solid #50aacc;
	}
}
