/* スクロールバー */
::-webkit-scrollbar {
    width: 7px;
	height: 7px;
}
 
::-webkit-scrollbar-track {
	background-color:#2f2f2f;
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
	width:7px;
	height:7px;
    background:#9090a0;
}
::-webkit-scrollbar-thumb:window-inactive {
	background:#aaaaaa;
}
/* END SCROLL BAR */

.info{
	display:inline-block;
	width:12px;
	height:12px;
	background-image:url('../image/info.png');
	margin-left:1px;
}


/* 通常のinputだと、寄付入力欄まで影響が出る */
/*.mkt_input{
	font-size:12px;
	height:11px;
	margin:2px 0px;
}
*/

div.sectionarea{
	border: solid 2px;
	border-color:#ffB424;
}

.sectionblock{
	background-color:#1d1d1d;
	-webkit-border-radius: 5px;
	line-height:15px;
	margin:3px 0px;
	padding:1px 4px;
	}

.sectiontitle{
	display:table-cell;
	color:#333;
	text-align:center;
	vertical-align:middle;
	margin:0 3px;
	min-width:40px;
	height:27px;
	line-height: 1em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	background:	-webkit-gradient(linear, left top, right bottom, from(#9EE7FF),
            color-stop(1.0, #14A3FF),
            to(#068));?@/* Safari,Google Chrome */
}

.sectiontitleselect{
	display:table-cell;
	color:#333;
	text-align:center;
	vertical-align:middle;
	margin:0 3px;
	min-width:40px;
	height:27px;
	line-height: 1em;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
background:	-webkit-gradient(linear, left top, right bottom, from(#ffe39E),
            color-stop(1.0, #ffB424),
            to(#066));?@/* Safari,Google Chrome?p */
}

.a_link{
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	margin: 5px 0;
	padding: 0 5px;
	line-height: 35px;
	border: 1px solid #666666;
	display: inline-block;
	text-decoration: none;
	} 
.a_link:active,
.a_link:hover{
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border: 1px solid #666666;
	display: inline-block;
	background:#333333;
	}
.paging .a_link { border: none;}
.paging .a_link:active { background: none;}
.paging .a_link:hover  { background: none;}

/*カスタムメニューのテキストエリア関連*/

.cmenu_textarea{
	font-size:12px;
	max-width:430px;
	max-height:400px;
}

[name='custom_menu_selet_tab']{
	font-size:12px;
	height:11px;
	margin:2px 0px;
}