/* 公式HP数値の位置調整 */
div[class^=lis-character] > .txt-hp-value{
	top:57px;
}

/* QAAS , QSAS */
#mkt_quick_access_bar{

	position:absolute;
	top:-16px;	/* 114px */
	width:100%;
	background-color:rgba(50,50,50,0.5);
	cursor:default;
	display:-webkit-box;
/*	border:solid 1px #99eeff;	*/
}

/*アビリティ使用バー*/
#mkt_ability_use_bar{

	overflow:hidden;
	display:-webkit-box;
	height:17px;
	max-height:17px;
}

#mkt_ability_use_bar > div{
	border:solid 2px #88ffff;
	display:-webkit-box;
	zoom:0.31;
	margin-right:3px;
/*	max-height:17px;	*/
	overflow:hidden;
}

/*▼召還ベース。 */
#mkt_summon_use_bar{
	width:auto;
	height:35px;
	border:solid 1px #ff8888;
	display:-webkit-box;
	position:absolute;
	top:114px;
	left:229px;

}
/*▼星晶召喚 */
.mkt_summon_call{
	border-right:solid 1px #000;
	width:14px;
	height:35px;
}
/*星晶召喚のリキャスト数値*/
.mkt_summon_recast_num{
	display:block;
	vertical-align:bottom;
	line-height:4em;

	width:14px;
	height:35px;
	color:#eeeeee;
	font-size:13px;
	background-color:rgba(0,0,0,0.5);
}

.mkt_summon_recast_num_blank{
	width:14px;
	height:35px;
}


/* 色つき小アイコンに被せる要素 */
.mkt_abilityblock{
	text-align:center;
	line-height:0.7em;
	color:#ffffff;
	background-color:#000000;
	font-size:11px;
	position:relative;
	width:9px;
	max-height:8px;
	left:0px;
	top:0px;
	z-index:25000;
	border:solid 1px #443333;
	font-weight: bold;
}


/* アビリティ使用バーに被せる */
.mkt_abilityNum_absolute{
	text-align:center;
	vertical-align:bottom;
	line-height:1em;
	color:#ffffff;
	background-color:rgba(0,0,0,0.7);
	font-size:40px;
	position:absolute;
	left:0px;
	top:1px;
	width:44px;
	height:44px;
	z-index:10;
	font-weight: bold;
}
