/* ばー */
::-webkit-scrollbar {
    width: 0px;
	height: 0px;
}

::-webkit-scrollbar-track {
	background-color:rgba(0,0,255,0);
    border-radius: 5px;
}

::-webkit-scrollbar-track-piece {
	background-color:rgba(0,255,255,0);
    width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background:rgba(255,0,0,1);
}
::-webkit-scrollbar-thumb:window-inactive {
	background:rgba(0,255,0,1);
}


body{
	font-size:13px;
	background-color:#1d1d1d;
	color:#ffffff;
	margin:2px;
}

div > img{
	display:block;
}

/*アイコン・タイマー表示*/
.category{
	display:table;
}
.item{
	float: left;
	border:1px solid #444;
}
.skillicon{
	display:table-cell;
	vertical-align:middle;
}
.skillremain{
	display:table-cell;
	width:25px;
	color:white;
	vertical-align:middle;
}
.skillremain_c{
	display:table-cell;
	width:25px;
	color:#fc9;
	vertical-align:middle;
}
.skillremain_b{
	display:table-cell;
	width:25px;
	color:orange;
	vertical-align:middle;
}
.skillremain_a{
	display:table-cell;
	width:25px;
	color:#f55;
	vertical-align:middle;
}

/*  */
#log{
	min-height:75px;
}

/*▼マクロデザイン	*/
#mkt_macro{
	display:block;
	font-size:11px;
	padding:2px;
	color:orange;
	cursor:default;
	-webkit-user-select:none;
	z-index:10000;
}
#mkt_macro > .mkt_macro_category{
	background-color:#333;
}
#mkt_macro > .mkt_macro_category > .mkt_macro_cell{
	display:table-cell;
}
.mkt_macro_singlebtn{
	padding:1px 4px;
	white-space: nowrap;
}
.mkt_macro_singlebtn:hover{
	background-color:#444;
}
.mkt_macro_singlebtn.checkon{
	background-color:#866;
}
.mkt_macro_tab_parent{
	display:table;
}
.mkt_macro_tab_item{
	padding:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	display:table-cell;
	background-color:#333;
	margin:0px 3px;
}
.mkt_macro_tab_item:hover{
	background-color:#444;
}
/*▲マクロデザインここまで*/

#mkt_chat_area{

}

#mkt_chat_form{
	display:table-cell;
}

#mkt_chat_send_btn{
	vertical-align: top;
	height:30px;
	margin:10px;
}